html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    font-family: Arial, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(/images/hojas_fondo.jpg);
    background-color: beige;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#container_form {
    background-color: #8DD686;
    width: 300px;
    margin: 50px auto;
    align-self: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.container_login{
    justify-content: center;
    display: grid;
    text-align: center;
    color: #2f5c34;
}

.container_login a {
    color: #1f3b22;
}

.nav-links {
    height: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: auto;
    background: #fff;
}

.nav-links ul {
    list-style: none;
}

.Menu>li {
    position: relative;
    display: inline-block;
}

.Menu>li>a {
    border-radius: 5%;
    border-color: black;
    padding: 5px 10px;
}

.subMenu {
    position: fixed;
    background: #fff;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.subMenu li a {
    display: block;
    padding: 0;
}

.Menu li:hover .subMenu {
    visibility: visible;
    opacity: 1;
}

.nav-links a:hover {
    color: var(--bg-color);
    font-weight: bolder;
}


.contenedor_input {
    flex-direction: column;
    font-weight: bold;
    padding: 3px 20px;
    display: grid;
}

.contenedor_input select,
#birthdate {
    width: 200px;
    height: 32px;
    border-radius: 6px;
}

label {
    display: flex;
    margin-bottom: 10px;
    padding: 2px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="option"] {
    padding: 10px;
    border: 2px solid darkgreen;
    border-radius: 6px;
}

button {
    background-color: beige;
    width: 100%;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    font-weight: bold;
    margin: 10px 0px;
}

button:hover {
    background-color: #57B360;
}

img {
    height: 45px;
    width: 45px;
    padding: 5px 128px;
    display: flex;
}

#container_pagina {
    color: red;
}

.contenedor {
    width: auto;
    margin: 0 auto;
    padding: 0 30px;
    font-weight: bolder;
}

.btn_enviar {
    padding: 10px 20px;
    display: grid;
}

header {
    background-color: aquamarine;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #725866;
    color: #fff;
    padding: 20px;
}

.footer a {
    color: #F5F0DA;
    font-weight: bold;
    text-decoration: none;
    margin: 0 15px;
}

.footer a:hover {
    text-decoration: underline;
}