*{
    margin: 0;
    padding: 0;
}

.mooli-regular {
    font-family: "Mooli", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

:root{
    --bg-color: #30ac0bb0;
    --bg-primary: #0bdf40cb;
    --bg-alpha: #00000040;
    --bg-hover: #03a52b21;
    --font-primary: "Mooli", sans-serif;
    --font-color: #04173b;
}

.header{
    height: 15vh;
    border: 1px solid var(--bg-primary);
}

.btn-ombu{
    margin: 15px;
    display: block;
    padding: 20 px 30px;
    border-radius: 5px;
    align-items: left;
    text-align: left;
    transition: background-color 0.4s ease;
}


.btn-ombu:hover{
    background-color: var(--bg-hover);
    color: black;
}

#banner{
    margin: auto;
    background-image: url('../rsc/vivero-banner.jpg');
    background-size: cover;
    background-position: center;
    height: 13vh;
    box-shadow: inset 0 0 0 2000px rgba(50, 50, 50, 0.185);
    border: 1px solid var(--bg-primary);
}

.nav-links{
    height: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 5px 5px;
    background: #ffffff;
}

.nav-links ul{
    list-style: none;
}
.Menu{
    width: auto;
    text-align: right;
}
.Menu > li{
    position: relative;
    display: inline-block;
}
.Menu > li > a{
    /* display: block; */
    border-radius: 5%;
    border-color: black;
    padding: 5px 10px;
}

.subMenu{
    position: absolute;
    background: #fff;
    width: 100%;
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;

}
.subMenu li a{
    display: block;
    padding: 0;
}
.Menu li:hover .subMenu{
    /* display: block; */
    visibility: visible;
    opacity: 1;
}

.nav-links a:hover{
    color: var(--bg-color);
}

.titulo{
    font-family: var(--font-primary);
    font-size: 4rem;
    font: bolder;
    color: var(--bg-primary);
    text-align: center;
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: black;
}
.subt{
    font-family: var(--font-primary);
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.main{
    /* display: grid; */
    /* grid-template-columns: 100%; */
    /* grid-template-rows: auto 1fr auto; */
    border: 1px solid rgba(255, 255, 255, 0);
    font-family: var(--font-primary);
    font-size: medium;
    background-color: var(--bg-color);
    height: 80vh;
    background-image: url(/images/hojas_fondo.jpg);
    background-color: beige;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.texto{
    color: #fff;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: no-common-ligatures proportional-nums;
    padding: 10px;
    border-radius: 5px;
    border-style: double;
    border-color: yellowgreen;
    background-color: #06a006a9;
}

a{
    text-decoration: none;
    text-align: center;
    font-family: var(--font-primary);
    font-size: small;
    margin: 20px;
}

.footer{
    height: 5vh;
    text-align: center;
    margin: auto;
    border: 1px solid var(--bg-primary);

}
.foot-links{
    width: 100%;
    margin: 1px 0px 5px 0px;
    justify-content: center;
}
.copyright{
    font-family: var(--font-primary);
    font-size: 0.75rem;
    text-align: center;
}

.shop{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}
.container{
    background-color: rgba(5, 65, 18, 0.315);
    height: 80%;
}
.elemento-img{
    margin: 15px;
    height: 9%;
    width: 90%;
    border-style: double;
    border: black;
    border-radius: 10px;
}
.elemento-descripcion{
    font-family: var(--font-primary);
    text-align: center;
}
.elemento-nombre{
    color: var(--font-color);
    font-weight: bolder;
    font-size: x-large;
}
.elemento-precio{
    color: black;
    font-weight: bold;
}
.elemento-oferta{
    padding: 10px;
    font-size: 0.90rem;
    font-weight:lighter;
    color: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 0, 0);
    border-style: double;
    border-width: 5px;
    border-color: red;
    border-radius: 50px;
    box-sizing: border-box;
    width: 50%;
    margin: auto;
    transition: var(--bg-color);
}

@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(3.80);
    }
    100%{
        transform: scale(1);
    }
}
.elemento-oferta:hover{
    animation: pulse 0.5s infinite alternate;
}

.redirect-acc{
    align-self: center;
    text-align: center;
    width: 300px;
    margin: 10px 0px;
}

/* Codigo Katherine Login */

#container_form {
    background-color: var(--bg-color);
    width: 50%;
    height: auto;
    align-self: center;
    margin: 25px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

input{
    width: 93%;
    padding: 10px;
    border: 2px solid darkgreen;
    border-radius: 3px;
    align-self: center;
}
button {
    width: auto;
    padding: 15px;
    background-color: var(--bg-color);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    align-self: center;
}
.contenedor_input {
    padding: auto;
    display: block;
    flex-direction: column;
}

.contenedor {
    width: auto;
    margin: 0 auto;
    padding: 0 30px;
    font-weight: bolder;
}

#btn_enviar {
    cursor: pointer;
    display: flex;
    float: left;
    width: 93%;
}

/* Codigo Katherine Registro */

.contenedor_input{
    width: 100%;
    height: auto;
    padding: none;
    align-self: center;
    align-items: center;
}

.contenedor_input select{
    width: 100%;
    height: 35px;
    border: 2px solid darkgreen;
    border-radius: 3px;
    width: 100%;
}

.container-aboutus {
    width: 75%;
    margin: 50px auto;
    padding: 2%;
    align-self: center;
    border-radius: 10px;
    font-weight: bold;
    background-color: var(--bg-alpha);
}
.container-img{
    align-self: center;
    margin: auto;
}

.text h1,
.equipo h1,
.calidad h1 {
    font-weight: bold;
    color: #725866;
    text-align: center;
}

.text h3,
.equipo h3,
.calidad h3 {
    font-weight: bold;
    color: darkslategrey;
    text-align: justify;
    width: 55%;
    height: 55%;
    margin-left: auto;
    margin-right: auto;
}

label {
    display: flex;
    margin-bottom: 10px;
    padding: 0px;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    padding: none;
    border: 2px solid darkgreen;
    border-radius: 3px;
    height: auto;
}

#birthdate {
    width: 93%;
    height: auto;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: auto;
    justify-self:center;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

.user {
    height: 45px;
    width: 45px;
    padding: 5px 128px;
    display: flex;
}


/* Responsive design (Solo Index) */

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-areas: 
        "header"
        "navbar"
        "main"
        "sidebar"
        "footer";
}

/* Estilos base para todos los dispositivos */

/* Smartphone */
@media only screen and (max-width: 600px) {
    /* Estilos para smartphones */
    .grid-container {
        grid-template:
            "header"    15vh
            "main"      auto
            "footer"    5vh;
    }

    .contenedor_input{
        width: 100%;
        height: auto;
        padding: none;
    }
    
    .contenedor_input select{
        width: 100%;
        height: 35px;
        border: 2px solid darkgreen;
        border-radius: 3px;
        width: 100%;
    }

    #container_form {
        background-color: var(--bg-color);
        width: 50%;
        height: auto;
        align-self: center;
        margin: 25px auto;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        font-weight: bold;
    }

    .user {
        height: 45px;
        width: 45px;
        align-self: center;
    }
    
  }
  
  /* Tablet */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Estilos para tablets */
    .grid-container {
        grid-template:
            "header"    15vh
            "main"      auto
            "footer"    5vh;
    }
    .contenedor_input{
        width: 100%;
        height: auto;
        padding: none;
    }
    
    .contenedor_input select{
        width: 100%;
        height: 35px;
        border: 2px solid darkgreen;
        border-radius: 3px;
    }

    #container_form {
        background-color: var(--bg-color);
        width: 50%;
        height: auto;
        align-self: center;
        margin: 25px auto;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        font-weight: bold;
    }

    .user {
        height: 45px;
        width: 45px;
        padding: 5px 128px;
    }
    
    .user {
        height: 45px;
        width: 45px;
        display: grid;
        align-self: center;
        margin: auto;
    }
    
  }
  
  /* PC */
  @media only screen and (min-width: 1025px) {
    /* Estilos para computadoras */
    .grid-container {
        grid-template:
            "header"    15vh
            "main"      auto
            "footer"    5vh;
    }

    .contenedor_input{
        width: 100%;
        height: auto;
        padding: none;
        align-self: center;
    }
    
    .contenedor_input select{
        width: 100%;
        height: 35px;
        border: 2px solid darkgreen;
        border-radius: 3px;
    }

    #container_form {
        background-color: var(--bg-color);
        width: 40vh;
        height: auto;
        align-self: center;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        font-weight: bold;
    }

    .user {
        height: 45px;
        width: 45px;
        display: grid;
        align-self: center;
        margin: auto;
    }
    
  }
  