*{
    margin: 10px;
    padding: 5px;
    background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color: green; background-color: rgba(129, 60, 10, 0.377); font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; width: 1000;
}